:root {
    --bg-main: #0f2a1a;
    --bg-panel: #1e3b29;
    --border-main: #335533;
    --txt-main: #9df29f;
    --txt-muted: #94b89b;
    --txt-muted-2: #648b72;
    --accent: #3cb07c;
    --accent-dark: #2b805a;
    --accent-strong: #059669;
    --danger: #ef4444;
    --danger-txt: #fecaca;
    --danger-bg: #7f1d1d;
    --danger-border: #991b1b;
    --warning: #f59e0b;
    --success-bg-dark: #064e3b;
    --success-txt-light: #d1fae5;
}
