::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: var(--bg-main);
}

::-webkit-scrollbar-thumb {
    background: var(--border-main);
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background: #475569;
}